<div class="main_header">
  <div class="container pt-4 pb-4">
    <div class="navbar">
      <a class="navbar-brand" href="#"><img src="../assets/logo.png" alt="logo"></a>
      <div class="d-flex border-text dtetxnone"><input class="in-buttpn" type="text" placeholder="Search.."> <button
          class="btn"><img src="../assets/image4.png" /></button></div>
      <div class="d-flex tel-ing text-left"><img src="../assets/image2.png" alt="tel"><a
          href="tel:012345678900">012-345-678-900</a></div>
      <div class="d-flex login-ing"><img src="../assets/image3.png" alt="tel"><a href="tel:012345678900">Login</a></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container pt-4 pb-4 bg-mobile">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="mode">mode</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="elektronica">elektronica</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="beauty">beauty</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="living">living</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="sport">sport</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="tickets">tickets</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="baby">baby</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="service">service</a>
        </li>
        <li class="nav-item nav-item1">
          <a class="nav-link nav-link1" routerLink="sale">sale</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-second">
  <div class="container middle-left">
    <h3>more then <strong>200+ </strong></h3>
    <h1>super deals</h1>
    <p>Starting <strong> $5</strong></p>
    <a routerLink="/" class="btn btn-sm">shop sale</a>
  </div>
</div>
<div class="container-fluid">
  <div class="container text-center sect-3">
    <h5 class="text-center text-uppercase">fashion collections</h5>
    <h1 class="text-uppercase text-center">Featured categories</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="center_div">
      <div class="row">
        <div class="col-sm"><img class="img-fluid" src="../assets/image5.png" alt="dummy" />
          <div class="col-sm padt-div"><img class="img-fluid" src="../assets/image5.png" alt="dummy" />
          </div>
        </div>

        <div class="col-sm pad-div"><img class="img-fluid" src="../assets/image6.png" class="img-fluid" alt="dummy" />
        </div>

        <div class="col-sm pad-div"><img class="img-fluid" src="../assets/image5.png" alt="dummy" />
          <div class="col-sm padt-div"><img class="img-fluid" src="../assets/image5.png" alt="dummy" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-red mt-5">
  <div class="container max-width  mb-5">
    <div class="row pt-5">
      <div class="col-md">
        <div class="d-flex justify-content-left align-items-center font-sm"><img class="ml-div"
            src="../assets/image7.png" alt="body">best webshop layouts</div>
        <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed
          diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>

      <div class="col-md">
        <div class="d-flex justify-content-left align-items-center font-sm"><img class="ml-div"
            src="../assets/image8.png" alt="body">Low prices</div>
        <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed
          diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>
    </div>


    <div class="row pt-5">
      <div class="col-md">
        <div class="d-flex justify-content-left align-items-center font-sm"><img class="ml-div"
            src="../assets/image9.png" alt="body">digital products</div>
        <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed
          diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>

      <div class="col-md">
        <div class="d-flex justify-content-left align-items-center font-sm"><img class="ml-div"
            src="../assets/image10.png" alt="body">Fashion and more..</div>
        <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed
          diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="container text-center sect-3">
    <h5 class="text-center text-uppercase">cool hover effect for email!</h5>
    <h1 class="text-uppercase text-center">Hover the image</h1>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="center_div">
      <div class="row">
        <div class="col-sm">
          <img class="img-fluid" src="../assets/image6.png" class="img-fluid" alt="dummy" />
          <br><br>
          <span class="span1">Clothing, Girl</span>
          <h4 class="span2">Elegant Women Dress</h4>
          <span class="span3">$110</span><span class="span4"> $130</span><br>
          <img src="../assets/boll_img1.png" alt="rate"><br>
          <a routerLink="/" class="btn">shop sale</a>
        </div>

        <div class="col-sm p-top">
          <img class="img-fluid" src="../assets/image6.png" class="img-fluid" alt="dummy" />
          <br><br>
          <span class="span1">Accessories, Clothing</span>
          <h4 class="span2">Elegant Women Dress</h4>
          <span class="span3">$90</span><span class="span4"> $75</span><br>
          <img src="../assets/boll_img2.png" alt="rate"><br>
          <a routerLink="/" class="btn">shop sale</a>
        </div>

        <div class="col-sm  p-top">
          <img class="img-fluid" src="../assets/image6.png" class="img-fluid" alt="dummy" />
          <br><br>
          <span class="span1">Clothing, Sweather</span>
          <h4 class="span2">Elegant Women Dress</h4>
          <span class="span3">$160</span><span class="span4"> $130</span><br>
          <img src="../assets/boll_img3.png" alt="rate"><br>
          <a routerLink="/" class="btn">shop sale</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-fluid text-center">
  <div class="container con-with">
    <div class="row">
      <div class="col-md"><img class="img-fluid" src="../assets/image13.png" alt=""></div>

      <div class="col-md pb-0 pad20"><img class="img-fluid" src="../assets/image12.png" alt="mobile">
        <p class="p-text1">app available</p>
        <h4 class="h1-text1">brand new app</h4>
        <p class="p-text2000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque
          ornare sem lacinia
          quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

        <a class="btn mt-3 btn-width20" routerLink="">Download the app</a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid bg-fluid text-center">
  <div class="container con-with">
    <div class="row row1">

      <div class="col-md pb-0 text-left pad200 pbottom">
        <p class="p-text1">what we offer</p>
        <h4 class="h1-text1">Featured categories</h4>
        <p class="p-text22"><span><img class="mr-img-dot" src="../assets/dot_img.png" alt="dot">
          </span>Lorem ipsum dolor sit amet, consectetur</p>
        <p class="p-text22"><span><img class="mr-img-dot" src="../assets/dot_img.png" alt="dot">
          </span>adipiscing elit. Aenean eu leo quam.</p>
        <p class="p-text22"><span><img class="mr-img-dot" src="../assets/dot_img.png" alt="dot">
          </span>Pellentesque ornare sem lacinia quam</p>
        <p class="p-text22"><span><img class="mr-img-dot" src="../assets/dot_img.png" alt="dot">
          </span>venenatis vestibulum. Cum sociis natoque</p>

        <a routerLink="/" class="btn pbottom">shop sale</a>
      </div>

      <div class="col-md"><img class="img-fluid" src="../assets/image13.png" alt=""></div>

    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="container p2-div">
    <div class="row">
      <div class="col-md-3 pbottom textmdcenter"><img src="../assets/image14.png" alt=""></div>
      <div class="col-md fix-width2 ">

        <p class="p-text2">what we offer</p>
        <h4 class="h1-text2">1000+ webber users and growing</h4>
        <p class="p-text3">Nulla vitae elit libero, a pharetra augue.
          Vestibulum id ligula porta felis euismod semper. <a class="text-uunderline" routerLink="">ipsum dolor
            sit amet</a>, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.</p>

        <a routerLink="/" class="btn pbottom btn-stye">shop sale</a>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="container p2-div">
    <div class="row">
      <div class="col-md fix-width2">

        <p class="p-text2">what we offer</p>
        <h4 class="h1-text2">1000+ webber users and growing</h4>
        <p class="p-text3">Nulla vitae elit libero, a pharetra augue.
          Vestibulum id ligula porta felis euismod semper. <a class="text-uunderline" routerLink="">Lorem ipsum
            dolor</a>
          sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <a routerLink="/" class="btn pbottom btn-stye">shop sale</a>
      </div>
      <div class="col-md-3 test-md-center pbottom"><img src="../assets/image14.png" alt=""></div>

    </div>

  </div>
</div>



<div class="container-fluid">
  <div class="container psrt-7">
    <div class="row">

      <div class="col-md">
        <div class="box3 sb13">
          <span class="box-text1">Design</span>
          <img class="float-end" src="../assets/star2.png" alt="five start">

          <p class="box-text-2">
            Cras mattis consectetur purus sit amet fermentum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

        <div class="mr-top-3">
          <img class="justify-content-center float-start pro-text-3" src="../assets/image16.png" alt="profile">

          <span class="pro-text-1">Emily moon </span>
          <p class="pro-text-2"> Designer</p>
        </div>
      </div>
      <div class="col-md p-top">
        <div class="box4 sb14">
          <span class="box1-text1">Design</span>
          <img class="float-end" src="../assets/star1.png" alt="five start">

          <p class="box1-text-2">
            Cras mattis consectetur purus sit amet fermentum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

        <div class="mr-top-3">
          <img class="justify-content-center float-start pro-text-3" src="../assets/image16.png" alt="profile">

          <span class="pro-text-1">sasha stone</span>
          <p class="pro-text-2"> Stylist</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dis-1">
  <div class="container fix-dis">
    <div class="row">
      <div class="col-md col-fix-dis ">
        <p class="fix-dis-1">what we offer</p>
        <h4 class="fix-dis-2">1000+ webber users and growing</h4>
        <p class="fix-dis-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
          vestibulum. Cum </p>
      </div>
      <div class="col-md-3 test-md-center"><a class="btn btn-stye1" routerLink="#">check the deals</a></div>
    </div>
  </div>
</div>


<div class="container-fluid mt-5">
  <div class="container card-fix-100">

    <h5 class="text-center text-uppercase card-text-1">keep up to date</h5>
    <h1 class="text-uppercase text-center card-text-2">blog and news</h1>
    <p class="text-center card-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="row">
      <div class="col-md">
        <div class="card">
          <img src="../assets/image5.png" class="card-img-top" alt="dymy">

          <div class="card-body">
            <h5 class="card-title">Elegant Women Dress</h5>
            <p class="card-text"><img width="16" src="../assets/image17.png" alt="calender">&nbsp; &nbsp; November 12,
              2019</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-stye100">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md pad-md-top">
        <div class="card">
          <img src="../assets/image5.png" class="card-img-top" alt="dymy">
          <div class="card-body">
            <h5 class="card-title">Elegant Women Dress</h5>
            <p class="card-text"><img width="16" src="../assets/image17.png" alt="calender">&nbsp; &nbsp; November 12,
              2019</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-stye100">Read more</a>
          </div>

        </div>
      </div>
      <div class="col-md pad-md-top">
        <div class="card">
          <img src="../assets/image5.png" class="card-img-top" alt="dymy">
          <div class="card-body">
            <h5 class="card-title">Elegant Women Dress</h5>

            <p class="card-text"><img width="16" src="../assets/image17.png" alt="calender">&nbsp; &nbsp; November 12,
              2019</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-stye100">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-divider">
  <div class="container fix-divider">
    <div class="row">
      <div class="col-md text-center">
        <img src="../assets/image18.png" alt="%">
        <h4 class="divider-1">Up to 70% OFF Sale</h4>
        <p class="divider-2">It's now or never.</p>
      </div>


      <div class="col-md border-divider text-center">
        <img src="../assets/image19.png" alt="%">
        <h4 class="divider-1">FREE SHIPPING & RETURN</h4>
        <p class="divider-2">on all orders over $99.</p>
      </div>


      <div class="col-md text-center">
        <img src="../assets/image20.png" alt="%">
        <h4 class="divider-1">ONLINE SUPPORT 24/7</h4>
        <p class="divider-2">24/7 online support</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container webber-fixed">
    <h5 class="text-center text-uppercase card-text-1">follow us on instagram</h5>
    <h1 class="text-uppercase text-center card-text-2">@webber</h1>
    <p class="text-center card-text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
    <div class="row text-center">
      <div class="col-sm"><img class="img-fluid" src="../assets/image22.png" alt="dummy"></div>
      <div class="col-sm p-top"><img class="img-fluid" src="../assets/image22.png" alt="dummy"></div>
      <div class="col-sm p-top"><img class="img-fluid" src="../assets/image22.png" alt="dummy"></div>
      <div class="col-sm p-top"><img class="img-fluid" src="../assets/image22.png" alt="dummy"></div>
      <div class="col-sm p-top"><img class="img-fluid" src="../assets/image22.png" alt="dummy"></div>
    </div>
  </div>
</div>

<div class="container-fluid logo-section">
  <div class="container logo-fixed">
    <div class="row align-items-center">
      <div class="col"><img class="img-fluid" src="../assets/image23.png" alt="MONRY MAGEZINE"></div>
      <div class="col"><img class="img-fluid" src="../assets/image24.png" alt="PATRIOST CO"></div>
      <div class="col"><img class="img-fluid" src="../assets/image25.png" alt="GALARY"></div>
      <div class="col"><img class="img-fluid" src="../assets/image26.png" alt="CGS"></div>
      <div class="col"><img class="img-fluid" src="../assets/image27.png" alt="MINIMAL"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container fixed-footer padleft20">
    <div class="row">
      <div class="col-md">
        <a href="#"><img src="../assets/image28.png" alt="Webber"></a>
        <div class="pt-5 align-items-center justify-content-center">
          <img src="../assets/image29.png" class="float-start" alt=""> &nbsp; &nbsp; <span class="footer-font1">Got
            Questions?</span>
          <br>&nbsp; &nbsp; <a class="footer-font2" routerLink="tel: 012345678900">012-345-678-900 </a>
        </div>
        <div class="pt-5 align-items-center justify-content-center">
          <img src="../assets/image30.png" class="float-start" alt=""> &nbsp; &nbsp; <span class="footer-font1">Contact
            info</span>
          <br>&nbsp; &nbsp; <span class="footer-font2">2222 St. Center Place,
            <br>&nbsp; &nbsp; New York </span>
        </div>
      </div>
      <div class="col-md pad-md-top">
        <h3 class="footer-3">Quick links</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">mode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">elektronica</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">beauty</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">living</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">sport</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">tickets</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">baby</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">sale</a>
          </li>

        </ul>
      </div>
      <div class="col-md pad-md-top">
        <h3 class="footer-3">Information</h3>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">Our Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">About Our Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">Secure Shopping</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">Delivery infomation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">Privacy Policy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-lin2" href="#">Our Sitemap</a>
          </li>
        </ul>

        <ul class="nav justify-content-left pt-5">

          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../assets/socialicon1.png" alt="instagram"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="../assets/socialicon2.png" alt="facebook"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/socialicon3.png" alt="web"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/socialicon4.png" alt="in"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/socialicon5.png" alt="twiter"></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/socialicon6.png" alt="G"></a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid last-div">
  <div class="container fix-last">
    <div class="row mt-5">
      <div class="col-sm text-start last-1">Copyright © <a href="#">Webber</a>. All rights reserved</div>
      <div class="col-sm text-end last-1">You can unsubscribe <a href="#">here</a>. </div>
    </div>
  </div>
</div>