@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "var";
@import "var1";
@import "var3";

//=======================PART 7======================================
  

//==============================================================
@media only screen and (max-width: 1200px) {
    .nav-item1{
        padding:0.5rem 3rem !important;
    } 
}

@media only screen and (max-width: 991px) {
    .nav-item1:first-child{
        padding-left: 0 !important;
        margin-top: 1rem !important;
    }
    .nav-item1:last-child{
        padding-right: 0 !important;
    }
    .nav-item1{
        padding:0.5rem 0 0 !important;

    }
    .nav-link1{
        font-size: 1.5rem;
        font-weight: 500;
        color:$textcolor !important;
        //border-bottom: 1px solid  $textcolor ;
        background-color: $textcolor ;
      }

      .nav-link1{
        font-size: 1.5rem;
        font-weight: 500;
        color:$whit !important;
        padding-left:1rem;
      } 

      .pad20{

        padding:1.4rem 2rem;
       text-align: center;
         width: 100%;
      }
      .con-with{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    
    .psrt-7{
        width:100%;
        display: flex;
       margin-top: 3rem;
       justify-content: center;
       align-items: center;
    }
    .box3 {
        width:100%;
      }

      .box4 {
        width:100%;
      }

      .logo-fixed{
          max-width:100%;
      }
    
}



@media only screen and (max-width: 768px) {
    .tel-ing{
        display: none !important;
    }
     .login-ing{
        color: $whit;
         font-size: 1.8rem; 
      a{
        color: $whit;
        text-decoration: none;
        margin-left: 8px;
        }
      }
      .dtetxnone{
          display: none !important;
      }

      .destophide{
        display: block !important;
    }
    .nav-item1{
        padding:0.5rem 0 0 !important;
    }

    .nav-link1:hover{
        color:white !important;
    }
    .center_div{
    .padt-div{
        margin-top: 2rem;
    }
}

    .middle-left{
        h3{
            font-size:2rem;
        }
        h1{
            font-size:3.8rem;
        }
    } 

    .row1{
        background-color:$whit;
         display: grid;
         place-items: center;
      }

      .pad200{
        padding:5rem 1rem 0rem 3rem;
        text-align: left;
        width: 40rem;
        font-family: 'Montserrat', sans-serif;
        background-color: $textcolor2;
      }
      .pbottom{
         margin-bottom: 2rem;
      }

      .fix-width2{
        width: 100%;
        display: flex;
        flex-direction: column;
        place-items:center;
        justify-content: center;
        text-align: center;
    }

    .p2-div{
        width:100%;
        display: grid;
        place-items: center;
        margin-top: 4rem;
    }
    .test-md-center{
        text-align: center;
    }

    .psrt-7{
        width:100%;
        display: flex;
       margin-top: 3rem;
       justify-content: center;
       align-items: center;
    }
    .box3 {
        width:100%;
      }

      .box4 {
        width:100%;
      }

     
    
    .fix-dis{
        width:100%;
        display: grid;
        place-items: center;
        padding:3rem 0 ;
    }
    
    .col-fix-dis{
        width:100%;
        text-align: left;
    }

    .border-divider{
        border-left:none;
        border-right:none;
    }

    .logo-fixed{
        max-width:100%;
        padding: 4rem 0;
    }
  
    .padleft20{
        padding: 0 4rem;
    }
    .pad-md-top{
        padding-top: 2rem;
    }
    .textmdcenter{
        text-align: center;
    }
}
@media only screen and (max-width: 576px){
    .sect-3{
        h1{
            font-size: 2.3rem;
        }
        h5{
            font-size: 1.4rem;
        }
    }
    .center_div{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
       .pad-div{
          margin-top:2rem;
          margin-left: 0px;
       }
       .padt-div{
           margin-top: 2rem;
       }
    }

    .p-top{
        padding-top:2rem;
    }

    .pad200{
        padding:5rem 1rem 0rem 2rem;
        text-align: left;
        width:100%;
        font-family: 'Montserrat', sans-serif;
        background-color: $textcolor2;

        .mr-img-dot{
            padding-right: 1rem;
          }


          .h1-text1{
            font-size: 1.9rem;
            font-weight: 900;
            text-transform: uppercase;
            color: $whit;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 3rem;
        }
      }
  
       
      .h1-text2{
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $textcolor2;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 3rem;
    }

    .logo-fixed{
        max-width:100%;
        padding: 3rem 0;

    }

    .padleft20{
        padding: 0 2rem;
    }
      
   .last-1{
       text-align: left !important;
   }
    
}