$bgheader:#1a96d3;
$whit:#fff;
$textcolor:#546c78;
$textcolor2:#374b53;
$textno:#cacaca;
$bg-secocontaint:#f4f4f4;
$bg-black:#000000;
$navcolor:#ff755e;
$tran:#88979d;
$cacacolor:#cacaca;
$button2:#1a96d3;